
#header {
    justify-items: center;
    align-content: center;
    text-align: center;
    
    border-bottom: 0;
}
#header h1 {
    padding-top: 3em;
    padding-bottom: 0.5em;
    background-image: url("../images/Background.jpg");
    
    
}
#header a {
    text-decoration: none;
    color: white;    
}

#navi {
    
    border-top: 0;
    padding-top: 0.5em;
    align-content: center;
    text-align: center;
    
}
#navimenu {
    list-style-type: none;
    
    margin-bottom: 1em;
    padding-bottom: 1em;
    align-content: center;
    
}

#navimenu li {
    float: left;
    align-content: center;
}
#navimenu li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding-left: 3em;
    padding-right: 3em;
    color: black;
}



/*css for the body part*/
#content {
    display: block;
    padding: 3em;
    background-color: rgb(32, 30, 30);
    color: white;
}

.header {
    font-size: 2em;
    font-weight: bolder;
}

.subheader {
    font-size: 1.5em;
    font-weight: bold;
}

.introduction {
    padding-top: 2em;
    
}

ol li {
    font-weight: bold;
    font-size: large;
    
}
.description {
    padding-bottom: 1em;
}